<header class="topbar" id="glassBar">
  <a class="brand brand-left" href="https://www.flightcentre.com.au" target="_blank" rel="noopener"
     aria-label="Flight Centre - opens flightcentre.com.au in a new tab">
    <img class="captain" alt="" width="66" height="66" src="/static/images/captain_avatar.png" />
    <span>
      <span class="wordmark">Flight Centre<sup>&reg;</sup></span><br />
      <span class="tagline">Your centre for flights.</span>
    </span>
  </a>
  <span class="fade" aria-hidden="true"></span>
  <a class="brand brand-right" href="/" aria-label="Trip Bridge home">
    <span class="wordmark logo-chip">Trip Bridge</span>
  </a>
</header>
